name: Continuous Delivery
on:
  push:
    branches: [master]
    paths-ignore:
      - "**.md"

jobs:
  build:
    name: Build Keymaps
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v2
        with:
          submodules: recursive

      - name: Install Dependencies
        run: ./external/qmk_firmware/util/qmk_install.sh

      - name: Setup Just
        uses: extractions/setup-just@v1

      - name: Build All
        run: just

      - name: Upload Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: dact
          path: result/dact.hex
          retention-days: 1

  publish:
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@v2

      - run: echo 'TAG_NAME=latest' >> $GITHUB_ENV

      - uses: dev-drprasad/delete-tag-and-release@v0.1.2
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          delete_release: ''
          tag_name: latest

      - uses: meeDamian/github-release@2.0
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag: ${{ env.TAG_NAME }}
          name: "Ednkbd Latest"
          prerelease: true
          commitish: ${{ github.sha }}
          gzip: false
          allow_override: true
          files: |
            dact.hex:./dact/dact.hex

